header
    .container
        .header.d-flex.justify-content-between.align-items-center
            a.logo(href="/")
                img(src='img/logo.png' srcset="/img/logo@2x.png 2x"  alt='Golden')
            .menu-wrapper
                button.menu
                    span
                nav
                    ul.header-nav
                        li.l-active
                            a#downHome(href='#hero')
                                span home
                                span.dot
                        li
                            a#downServices(href='#services')
                                span services
                                span.dot
                        li
                            a#downPortfolio(href='#portfolio')
                                span portfolio
                                span.dot
                        li
                            a#downAbout(href='#about')
                                span about
                                span.dot
                        li
                            a#downTeam(href='#team')
                                span team
                                span.dot
                        li
                            a#downContact(href='#contact')
                                span contact
                                span.dot
                    .bot-line